.expertise-filter {
  overflow: auto;

  max-block-size: 20rem;

  scrollbar-width: thin;

  > li {
    padding-inline-end: 1rem;

    .button {
      justify-content: flex-start;

      inline-size: 100%;
    }
  }
}
