.activities {
  display: grid;
  gap: 0.5rem;

  .activity {
    background-color: var(--color-surface-400);

    display: flex;

    padding: 0.5rem;

    border-radius: var(--border-radius);

    svg {
      margin-inline-end: 0.5rem;

      font-size: 1.25em;
    }

    .highlight {
      font-weight: 700;
    }
  }
}
